{% extends "navbar.html" %}
{% load static %}
{% block content %}

    <link rel="shortcut icon" href="{% static 'src/public/css/Travel-Share-Icon.png' %}" />

    <!-- Fonts -->
    <link href="../../../cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700" rel='stylesheet' type='text/css'>
    <link rel="prefetch stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800,600">

    <link rel="stylesheet" href="{% static 'src/public/css/libs/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'src/public/css/libs/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'src/public/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'src/public/css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'src/public/css/libs/typeahead.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'src/semantic/dist/semantic.min.css' %}">
    <link rel="stylesheet" href="../../../cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/dropzone.css">

    <!-- Lity lightbox files -->
    <link rel="stylesheet" href="{% static 'src/public/css/lity.css' %}">

    <link rel="stylesheet" href="explore/css/footer-distributed-with-address-and-phones.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'explore/location/css/materialize.min.css' %}" media="screen,projection" />
    <link rel="stylesheet" href="{% static 'explore/location/css/style.css' %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'location/css/font-awesome.min.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'explore/location/css/footer-distributed-with-address-and-phones.css' %}">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'explore/location/css/footer-distributed-with-address-and-phones.css' %}">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'src/public/js/libs/jquery.js' %}"></script>
        
    <br><br><br><br><br>

    <div class="container" style="background-color: #fafafa;">

        <div class="col-md-12">
            <br>
            <div class="col-md-12">
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">

                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                    <a href="../login.html" id="thumbs-like-popup"> <i class="fa fa-thumbs-up" aria-hidden="true"></i>3 </a>
                    <div id="popup1" class="ui custom basic popup">
                        Like Travel Flyer
                    </div>
                </div>
            </div>

            <br><br>
            <div class="rating text-center">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
            </div>
            <div class="text-center">
                <div class="file-upload">
                    <label class="file-upload__label">Create/Join Chatroom</label>

                </div>
            </div>
            <p class="text-center" id="Flyer-Title">South Africa</p>

            <div class="text-center weathermain">
                <div id="location"></div>
                <hr>
                <div id="summary"></div>
                <div id="sunrise"></div>
                <div id="sunset"></div>
                <div id="maxTemp"></div>
                <div id="minTemp"></div>
                <div id="temp"></div>
                <canvas id="weather" width="64" height="64" class="icons"></canvas>

                <div id="windspeed"></div>

            </div>
            <br>

            <div id="Flyer-Description">
                South Africa is a country on the southernmost tip of the African continent, marked by several distinct ecosystems. Inland
                safari destination Kruger National Park is populated by big game. The Western Cape offers beaches, lush winelands
                around Stellenbosch and Paarl, craggy cliffs at the Cape of Good Hope, forest and lagoons along the Garden
                Route, and the city of Cape Town, beneath flat-topped Table Mountain.
            </div>

            <div class="text-center">
                <div class="file-upload">
                    <label for="upload" class="file-upload__label">Upload photo</label>
                    <input id="upload" class="file-upload__input" type="file" name="file-upload">
                </div>
            </div>

            <div class="col-md-12 gallery">
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/100">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="{% static 'src/public/FlyerPhotos/photos/hi.jpg' %}" data-lity>
                                            <img src="{% static 'src/public/FlyerPhotos/photos/hi.jpg' %}" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/101">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/102">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/103">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/104">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/105">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/106">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/107">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/108">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/109">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/110">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/111">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">
                                <a href="../src/public/FlyerPhotos/photos/hi.jpg" data-lity>
                                            <img src="../src/public/FlyerPhotos/photos/hi.jpg" alt="" data-id="100">
                                        </a>
                            </form>
                        </div>
                    </div>
                </div><br>
                <hr><br>
            </div>
            <div class="text-center">
                <div class="file-upload">
                    <label for="upload" class="file-upload__label">Upload Video</label>
                    <input id="upload" class="file-upload__input" type="file" name="file-upload">
                </div>
            </div><br><br>

            <div class="col-md-12 gallery">
                <div class="row">
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="{% static 'src/public/FlyerPhotos/photos/lol.mp4' %}" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="../src/public/FlyerPhotos/photos/lol.mp4" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="../src/public/FlyerPhotos/photos/lol.mp4" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="../src/public/FlyerPhotos/photos/lol.mp4" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="../src/public/FlyerPhotos/photos/lol.mp4" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                        <div class="img-wrap">
                            <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                                <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                                <input type="hidden" name="_method" value="DELETE">

                                <video class='center' controls>
                                    <source src="../src/public/FlyerPhotos/photos/lol.mp4" type="video/mp4">
                                </video>

                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- close clo-md-12 -->

        <br>
        <div class="text-center">Street View 360 degree :</div>
        <div class="text-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1506024852553!6m8!1m7!1sDQ963riZ60HFXlI-L94ENw!2m2!1d42.34557089774134!2d-71.0983235904246!3f326.67!4f-1.5900000000000034!5f1.625774341190601"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-md-12">
            <br><br>
            <div id="map"></div>
            <br><br>

            <br><br>
            <hr>
        </div>

        <div id="disqus_thread"></div>
        <script>
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://travelblog-2.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    <!-- close container -->

    <!-- JavaScripts -->
    <script src="{% static 'src/public/js/libs/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static '/src/public/js/libs/bootstrap.js' %}"></script>
    <script src="{% static 'src/public/js/libs/sweetalert.js' %}"></script>
    <script src="{% static 'src/public/js/libs/FitText.js' %}"></script>
    <script src="{% static 'src/semantic/dist/semantic.min.js' %}"></script>
    <script src="{% static 'src/public/js/main.js' %}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'src/public/js/libs/jquery.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'explore/location/js/materialize.min.js' %}"></script>
    <script src="{% static 'explore/location/js/weatherindex.js' %}"></script>

    <script src="../../../cdnjs.cloudflare.com/ajax/libs/dropzone/4.2.0/dropzone.js"></script>
    <script type="application/javascript" src="{% static 'src/public/js/dropzone.forms.js' %}"></script>
    <script type="application/javascript" src="{% static 'src/public/js/dropzone.flyer.js' %}"></script>
    <script type="application/javascript" src="{% static 'src/public/js/lity.js' %}"></script>
    <script type="text/javascript" src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <!--This uses FitText.js to resize the letters when on Mobile platforms.
        This is particularly used for the Flyers Description area. -->
    <script>
        jQuery("#Flyer-Description").fitText(1.6, { minFontSize: '10px', maxFontSize: '18px' });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaB_9hgeARViVKIT6O1pFKXRCSuYaol2A&amp;libraries=places&amp;callback=initAutocomplete"></script>

    <script>
        function initAutocomplete() {

            var lat = -34.0590877549;
            var lng = 18.5374815859;

            var map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: lat,
                    lng: lng
                },
                zoom: 10,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var marker = new google.maps.Marker({
                position: {
                    lat: lat,
                    lng: lng
                },
                map: map,
                animation: google.maps.Animation.DROP
            });
        }
    </script>
{% endblock content %}