{% extends 'navbar.html' %} {% load static %} {% block content %}
<div class="container" id="Public-Profile-Main-Container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="hydrogen's Profile Picture" src="{{ profile.profile_pic.url }}">
                </div><br><br><br>
                <div class="info">
                    <div class="title">
                        <a target="_blank">{{ profile.user.username }}</a>
                    </div>
                    <div class="desc" id="Public-Flyer-Person-Description">
                        {{ profile.bio }}
                    </div>
                </div>
                <div class="bottom">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="Public-Profile-Users-Flyers-Container">
        <h4 id="Public-Profile-Header">{{profile.user.username}}'s TRAVEL BLOGS</h4>
        {% for flyer in flyers %}
        <hr>
        <div class="col-sm-6 col-md-4" id="card-center">
            <div class="row">
                <div class="ui link cards" id="Travel-Flyer-Display-Cards">
                    <div class="card" id="Flyer-Card">
                        <div class="image">
                            <a href="../travelflyers/The%20Big%20Apple%21">
                                    <img src="" alt="hydrogen" data-id="1">
                                </a>
                        </div>
                        <div class="content">
                            <a href="">
                                <h4 class="ui header">{{flyer.title}}</h4>
                            </a>
                            <div class="description">
                             {{flyer.description}}
                            </div>
                            <div class="description">
                                By: {{flyer.creater}}
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- close col-md-12 -->

    <div class="col-md-12" id="Public-Profile-Users-Flyers-Container">
        <h4 id="Public-Profile-Header">{{profile.user.username}}'s TRAVEL PHOTOS</h4>
        <hr>
        <div class="col-md-12 gallery">
            <div class="row">
                {% for photo in photos %}
                <div class="col-xs-6 col-sm-3 col-md-3 gallery_image">
                    <div class="img-wrap">
                        <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                            <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                            <input type="hidden" name="_method" value="DELETE">
                            <a href="{% static 'src/public/FlyerPhotos/photos/hi.jpg' %}" data-lity>
                                            <img src="{{photo.photo.url}}" alt="" data-id="112">
                                        </a>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- close col-md-12 -->

    <div class="col-md-12" id="Public-Profile-Users-Flyers-Container">
        <h4 id="Public-Profile-Header">{{profile.user.username}}'s TRAVEL VIDEOS</h4>
        <hr>
        <div class="col-md-12 gallery">
            <div class="row">
                {% for video in videos %}                    
                <div class="col-xs-12 col-sm-12  col-md-6  gallery_image">
                    <div class="img-wrap">
                        <form method="post" action="http://davidtrushkov.com/travel/photos/112">
                            <input type="hidden" name="_token" value="Tg5OWNRqqzUG9fLWKOUaDFkPUzf3l5nSyp8onTyC">
                            <input type="hidden" name="_method" value="DELETE">

                            <video class='center' controls>
                                <source src="{{video.video.url}}" type="video/mp4">
                            </video>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- close col-md-12 -->
</div>
{% endblock content %}
<!-- close container -->